<mat-card>
    <mat-card-title>
        Mack's Favorite Albums
    </mat-card-title>
    <mat-card-content>
        <br>
        <div
            *ngFor="let albums of albumsToBeDisplayed"
        >
        <label>
            <mat-checkbox
                [(ngModel)]="albums.checked"
                >
                {{ albums.name }}
            </mat-checkbox>
        </label>
        </div>
        <h3>
            Albums listened: {{ albumsListened }}
        </h3>
    </mat-card-content>
</mat-card>