<mat-card>
    <mat-card-title>
        Albums to listen to
    </mat-card-title>
    <mat-card-content>
        <br>
        <div
            *ngFor="let albums of albumsToBeDisplayed"
        >
        <label>
            <mat-checkbox
                [(ngModel)]="albums.checked"
                >
                {{ albums.name }}
            </mat-checkbox>
        </label>
        </div>
        <br>
        <button 
            mat-mini-fab
            (click)="albumsChecked()"
        >
        Save
        </button>
        &nbsp;
        <button
            mat-mini-fab
            color="secondary"
            (click)="clearList()"
        >
        Reset
        </button>
        <h3>
            Albums listened: {{ albumsListened }}
        </h3>
    </mat-card-content>
</mat-card>